{% extends "base.html" %}
 {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <div class="fdiv center_div"> <!-- form that allows to add a client -->
        <form action="" method="post" name="task" >
            <div class="form-group text-center">
                <label for="inputName">Name</label>
                {{ form.name }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Address</label>
                {{ form.address }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Phone</label>
                {{ form.phone }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">Password</label>
                {{ form.password }}
            </div>
            <div class="form-group text-center">
                <label for="inputDesc">User Type</label>
                {{ form.admin }}
            </div>
            <div class="container"> <!-- shows the button to add the form -->
                <div class="row">
                  <div class="col text-center">
                <button type="submit" class="btn btn-primary" value="add" >Submit</button>
            </div>
        </form>
    </div>
 {% endblock %}