{% extends "base.html" %}
 {% block content %}
 <table class="table">
    <thead>
      <tr> <!-- headers of the collumns -->
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Year</th>
        <th scope="col">Author</th>
        <th scope="col">Price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for ta in t %} <!-- goes through the results -->
        <tr>
          <td>{{ ta.title }}</td>
          <td>{{ ta.description }}</td>
          <td>{{ ta.year }}</td>
          <td>{{ ta.author }}</td>
          <td>{{ ta.price }}</td>
          <td><a class="btn btn-primary" href="/remove/{{ ta.id }}" role="button">Remove</a></td>
        </tr>
  {% endfor %}
    </tbody>
  </table>
  
  <div class="container"> <!-- shows the button to add the form -->
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-primary" href="/purchase" role="button">Purchase</a>
      </div>
    </div>
  </div>
 {% endblock %}