{% extends "base.html" %}
 {% block content %}
 <div class="container text-center"></div>
  <table class="table">
    <thead>
      <tr> <!-- headers of the collumns -->
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">User Type</th>
      </tr>
    </thead>
    <tbody>
      {% for ta in t %} <!-- goes through the results -->
        <tr>
          <th scope="row">{{ ta.id }}</th>
          <td>{{ ta.name }}</td>
          <td>{{ ta.address }}</td>
          <td>{{ ta.email }}</td>
          <td>{{ ta.phone }}</td>
          <td>{{ ta.username }}</td>
          <td>{{ ta.password }}</td>
          <td>{{ ta.admin }}</td>
        </tr>
  {% endfor %}
    </tbody>
  </table>

  <div class="container"> <!-- shows the button to add the form -->
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-primary" href="/addclient" role="button">Add Client</a>
      </div>
    </div>
  </div>
</div>
 {% endblock %}