{% extends "base.html" %}
 {% block content %}
 <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Booki</h1>
      {% if session['login'] != 1 %}
      <p class="lead text-muted">Hi! If you already have an account or wish to create one, please log in! Otherwise just have a browse!</p>
      {% else %}
      <p class="lead text-muted">Welcome Back! Please take a look at our new book selection!</p>
      {% endif %}
      <p>
        {% if session['login'] != 1 %}
        <a href="/login" class="btn btn-primary my-2">Log In</a>
        {% endif %}
        <a href="/allbooks" class="btn btn-secondary my-2">Browse Books</a>
      </p>
    </div>
  </section>
  
  <div class="album py-5 bg-light">
    <div class="container">
      <h1 class="jumbotron-heading text-center">Suggested picks</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="Book" style="height: 225px; width: 100%; display: block;" src="{{ url_for('static', filename='book.jpg') }}">
            <div class="card-body">
              <p class="card-text">{{ t[0].title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary addtocart" href="/individualbook/{{t[0].id}}">View</a>
                  {% if session['login'] == 1 %}
                  <a class="btn btn-primary addtocart" href="/addtocart/{{t[0].id}}">Add to Cart</a>
                  {% endif %}
                </div>
                <small class="text-muted">{{ t[0].price }}£</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="Book" style="height: 225px; width: 100%; display: block;" src="{{ url_for('static', filename='book.jpg') }}">
            <div class="card-body">
              <p class="card-text">{{ t[1].title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary addtocart" href="/individualbook/{{t[1].id}}">View</a>
                  {% if session['login'] == 1 %}
                  <a class="btn btn-primary addtocart" href="/addtocart/{{t[1].id}}">Add to Cart</a>
                  {% endif %}
                </div>
                <small class="text-muted">{{ t[1].price }}£</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" alt="Book" style="height: 225px; width: 100%; display: block;" src="{{ url_for('static', filename='book.jpg') }}">
            <div class="card-body">
              <p class="card-text">{{ t[2].title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary addtocart" href="/individualbook/{{t[2].id}}">View</a>
                  {% if session['login'] == 1 %}
                  <a class="btn btn-primary addtocart" href="/addtocart/{{t[2].id}}">Add to Cart</a>
                  {% endif %}
                </div>
                <small class="text-muted">{{ t[2].price }}£</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


 {% endblock %}